@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input, button {
    -webkit-appearance: none;
    appearance: none;
}

.wrapper {
    height: 100vh;
    border: 1px solid black;
    display: grid;
    grid-template: 3fr 12fr 1fr / 1fr 6fr;
}

/* header */
.header {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 25px 40px;
    gap: 27px;
    box-shadow: 1px 4px 3px rgb(0,0,0,0.1);
}

.header-upper, .header-lower {
    display: flex;
}

.header-upper-left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-upper-left > div:nth-child(1) > a {
    display: flex;
    align-items: center;
}

.header-upper-left > div > a > img {
    width: 30px;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: inset 3px 3px 3px rgb(0,0,0,0.1);
}

input[type="search"] {
    flex: 0.8;
    border-radius: 30px;
    height: 2rem; 
    border: none;
    background-color: #dddddd;
    padding: 10px;
}

.header-upper-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-upper-right > div > a {
    display: flex;
}

.header-upper-right > div:first-child > a > img {
    width: 30px;
}

.header-upper-right > div:nth-child(2) > a {
    background-image: url('/assets/images/merc.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0,0,0,0.3);
}

#profile-name {
    font-weight: 600;
}

.header-lower-left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 3;
}

.header-lower-left > div:first-child {
    display: flex;
}

.header-lower-left > div:first-child > a {
    background-image: url('./assets/images/merc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgb(0,0,0,0.3);
}

.greetings-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.greetings-text {
    font-size: 12px;
    font-weight: 600;
}

.greetings-name {
    font-size: 24px;
    font-weight: 600;
}

.header-lower-right {
    flex: 1;
    display: flex;
    letter-spacing: 1px;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
}

.header-lower-right button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 25px;
    border: none;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}

.header-lower-right button:hover {
    background-color:rgb(34, 34, 34, 0.9);
    transform: scale(1.05);
    cursor: pointer;
}
/* header end */

/* sidebar */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

.main {
    grid-area: 2 / 2 / 3 / 3;
}

.footer {
    grid-area: 3 / 1 / 4 / 3;
}